body{
	background-color:#4a4a4a;
}

.navbar-brand{
	margin-top:-10px;
}
.btn{
	transition: .4s;
}
.btn-success{
	transition: .4s;
}
.my-title{
	float:left;
	padding:0;
}
.my-link-title{
	padding:0;
	float:right;
}
@media (min-width:768px){
	.alert{
		margin-left:10px;
		margin-right:10px;
	}
	.panel-default{
		margin-left:10px;
		margin-right:10px;
	}
}